.main {
    height: 100vh;
    width: 100vw;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100vh;
}

.field {
    width: 67vh;
    margin-bottom: 2vh;
}

.card {
    padding: 5vh 0vh;
    width: 34vw;
}

.sec1 {
    background: black;
    color: white;
    text-transform: uppercase
}

.title {
    font-weight: bold;
    font-size: 5vh;
    margin-bottom: 5vh;
    padding-left: 13vw;
}

.button {
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    width: 31vw;
    height: 7vh;
    color: white;
    font-size: larger;
}

.sign-button {
    border-radius: 5px;
    margin-top: 3vh;
    border: none;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: gray;
    width: 31vw;
    height: 7vh;
    color: rgb(126, 123, 123);
    font-size: large;
    border: 1px solid black;
}

.link {
    text-decoration: none;
    margin-top: 1vh;
}

a {
    text-decoration: none;
}