<div fxLayout="column" fxLayoutAlign="center center" class="main">
    <mat-card class="card">
        <mat-card-title class="title">Sign Up</mat-card-title>
        <mat-card-content>
            <form class="form" (ngSubmit)="register()">
                <mat-form-field class="field">
                    <input matInput placeholder="Full Name" name="username" [(ngModel)]="username" required>
                </mat-form-field>
                <mat-form-field class="field">
                    <input matInput placeholder="Email" name="email" [(ngModel)]="email" type="email" required>
                </mat-form-field>
                <mat-form-field class="field">
                    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" class="button" type="submit">Sign Up</button>
                <div class="link">
                    <span>Already have an account? </span>
                    <a routerLink="/login"><span>Sign In</span></a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
