<div fxLayout="column" fxLayoutAlign="center center" class="main">
    <mat-card class="card">
        <mat-card-title class="title">Sign In</mat-card-title>
        <mat-card-content>
            <form class="form" (ngSubmit)="login()">
                <mat-form-field class="field">
                    <input matInput placeholder="Email" name="email" [(ngModel)]="email" type="email" required>
                </mat-form-field>
                <mat-form-field class="field">
                    <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" class="button" type="submit">Sign In</button>
                <div class="link">
                    <span>Don't have an account? </span>
                    <a routerLink="/register"><span>Sign Up</span></a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
